*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #06842D , #FCC38C);
    text-align: center;
}

.titulo{
    color: black;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

textarea{
    width: 300px;
    border-radius: 5px;
    padding: 2px;
}

#btnAcao{
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    border: none;
}

#btnAcao:hover{
    background: black;
    text-shadow: none;
    color: white;
}

#QRCodeImage{
    width: 256px;
    height: 256px;
    margin-top: 10px;
}